@model IEnumerable<CrmCore.Core.Firma.Gorusme>
@using Microsoft.AspNetCore.Identity
@using CrmCore.Core.Users

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Konu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirmaKontak)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatorUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Konu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Detay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firma.Adi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirmaKontak.AdiSoyadi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatorUserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
